<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title> Home Page </title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{asset('bundles/loginlogin/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/bootstrap.min.css')}}" rel="stylesheet"> 
        <link href="{{asset('bundles/loginlogin/css/sample.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/home.css')}}" rel="stylesheet">
        <style>
        .round img {
            display: block;
            margin-left: 10%;
            margin-right: 10%;
            width: 50%;
            border-radius: 50%;
            min-height:100%
        }
        #bat_table{
            width: 80%;
            margin-top: 13%;
            border-radius: 10px;
        }
        </style>

<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- JS -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script >

// JavaScript Document
var Timer;
var TotalSeconds;

function CreateTimer(TimerID, Time){
    var oop=this;
	this.Timer = document.getElementById(TimerID);
	this.TotalSeconds = Time;
	this.update();
	oop.to=setTimeout(function(){ oop.tick(); }, 1000);
}

CreateTimer.prototype={

 tick:function(){
    var oop=this;
	if (this.TotalSeconds <= 0){
		return;
	}
	this.TotalSeconds -= 1;
	this.update()
	oop.to=setTimeout(function(){ oop.tick(); }, 1000);
 },

 update:function(){
 	var Seconds = this.TotalSeconds,Days = Math.floor(Seconds / 86400);
	Seconds -= Days * 86400;
	var Hours = Math.floor(Seconds / 3600);
	Seconds -= Hours * (3600);
	var Minutes = Math.floor(Seconds / 60);
	Seconds -= Minutes * (60);
	var TimeStr = ((Days > 0) ? Days + " days " : "") +
	LeadingZero(Hours) + ":" + LeadingZero(Minutes) + ":" + LeadingZero(Seconds)
	this.Timer.innerHTML = TimeStr;
 }

}


function LeadingZero(Time){
	return (Time < 10) ? "0" + Time : + Time;
}

</script>
             {%block stylesheets %}
    
              {%endblock%}
    </head>
    <body>
    <div class="container">
        <div class="well">
            <h2 id="heading"> <strong> HOME PAGE CREATED </strong></h2>
        </div>
    </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Website Name </a>
                    </div>
                 <ul class="nav navbar-nav">
                    <li class="active"><a href="#">HoMe </a></li>
                    <li><a href="#"> Scores </a></li>
                    <li><a href="#"> Status </a></li>
                    <li><a href="#"> Upcomming </a></li>
                    <li><a href="#"> League </a></li>
                    <li><a href="#"> Abount </a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path('login_login_signup')}}"><span class="glyphicon glyphicon-user"></span>Sign Up </a></li>
                        <li><a href="{{path('login_login_homepage')}}"><span class="glyphicon glyphicon-log-in"></span> LOgin </a></li>
                    </ul>
            </div>
            </nav>
                    <div class="row">
                        <div class="col-lg-3">
                            {% if first is defined %}
                            <span id="title">{{ first.firstTeam }}</span><p>
                            <strong><p id='between'>V/S</p></strong>
                            <span id="title">{{ first.secondTeam }}</span>
                            {%endif%}     
                            <strong><p id='timer1'></p></strong>
                            </div>
                        <div class="col-lg-3">
                            {% if second is defined %}
                                <span id="title">{{ second.firstTeam }}</span>
                                <strong><p id='between'>V/S</p></strong>
                                <span id="title">{{ second.secondTeam }}</span>
                            {%endif%}
                            <strong><p id='timer2'></p></strong>
                        </div>
                        <div class="col-lg-3">
                            {% if third is defined %}
                                <span id="title">{{ third.firstTeam }}</span>
                                <strong><p id='between'>V/S</p></strong>
                                <span id="title">{{ third.secondTeam }}</span>
                            {%endif%}
                            <strong><p id='timer3'></p></strong>
                            </div>
                        <div class="col-lg-3">
                            {% if fourth is defined %}
                                <span id="title">{{ fourth.firstTeam }}</span>
                                <strong><p id='between'>V/S</p></strong>
                                <span id="title">{{ fourth.secondTeam }} </span>
                            {% endif %}
                            <strong><p id='timer4'></p></strong>
                            </div>
                    </div>
                            </br>
                            </br>
                            <div class="row1">
                                <div class="col-lg-4">
                                    <p id="best">BEST BATSMAN </p>
                                    <div class="round">
                                    <img src="{{asset('bundles/loginlogin/images/virat-kohli-967.png')}}">
                                    </div>
                                    <div class="table table-responsive">
                                    <table class="table" id="bat_table">
                                        <thead>
                                          <tr>
                                            <th>MATCHES</th>
                                            <th>SCORES</th>
                                            <th>BEST</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <p id="best">BEST BOWLER </p>
                                    <div class="round">
                                    <img src="{{asset('bundles/loginlogin/images/vinaykumar.jpg')}}"> 
                                   <div class="table table-responsive">
                                    <table class="table" id="bat_table">
                                        <thead>
                                          <tr>
                                            <th>MATCHES</th>
                                            <th>SCORES</th>
                                            <th>BEST</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <p id="best">BEST ALROUDER </p>
                                    <div class="round">
                                    <img src="{{asset('bundles/loginlogin/images/ab-de-villiers-sa.png')}}">
                                   <div class="table table-responsive">
                                    <table class="table" id="bat_table">
                                        <thead>
                                          <tr>
                                            <th>MATCHES</th>
                                            <th>SCORES</th>
                                            <th>BEST</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                new CreateTimer("timer1", 30000);
                                new CreateTimer("timer2", 30000);
                                new CreateTimer("timer3", 30000);
                                new CreateTimer("timer4", 30000);
                            </script>
    </body>
</html>
    