<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title> Home Page </title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{asset('bundles/loginlogin/css/bootstrap.css')}}" rel="stylesheet">  
        <link href="{{asset('bundles/loginlogin/css/sample.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/loginlogin/css/home.css')}}" rel="stylesheet">
             {%block stylesheets %}
    
              {%endblock%}
    </head>
    <body>
    <div class="container">
        <div class="well">
            <h2 id="heading"> <strong> HOME PAGE CREATED </strong></h2>
        </div>
    </div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Website Name </a>
                    </div>
                 <ul class="nav navbar-nav">
                    <li class="active"><a href="#">HoMe </a></li>
                    <li><a href="#"> Scores </a></li>
                    <li><a href="#"> Status </a></li>
                    <li><a href="#"> Upcomming </a></li>
                    <li><a href="#"> League </a></li>
                    <li><a href="#"> Abount </a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path('login_login_signup')}}"><span class="glyphicon glyphicon-user"></span>Sign Up </a></li>
                        <li><a href="{{path('login_login_homepage')}}"><span class="glyphicon glyphicon-log-in"></span> LOgin </a></li>
                    </ul>
            </div>
            </nav>
                    <div class="row">
                        <div class="col-lg-3">
                            {% if first is defined %}
                                <span id="title">{{ first.firstTeam }}</span>
                            </br>
                            </br>
                            <span id="title">{{ first.secondTeam }}</span>
                            {%endif%}        
                        </div>
                        <div class="col-lg-3">
                            {% if second is defined %}
                                <span id="title">{{ second.firstTeam }}</span>
                                </br>
                                </br>
                                <span id="title">{{ second.secondTeam }}</span>
                            {%endif%}
                        </div>
                        <div class="col-lg-3">
                            {% if third is defined %}
                                <span id="title">{{ third.firstTeam }}</span>
                                </br>
                                </br>
                                <span id="title">{{ third.secondTeam }}</span>
                            {%endif%}
                            </div>
                        <div class="col-lg-3">
                            {% if fourth is defined %}
                                <span id="title">{{ fourth.firstTeam }}</span>
                                </br>
                                </br>
                                <span id="title">{{ fourth.secondTeam }} </span>
                            {% endif %}
                            </div>
                    </div>
                     {% if name is defined %}
                        <div class="alert-info fade in">
                            
                        </div>              
                     {%endif%}
                            
    </body>
</html>
    